<div class="row row-no-gutters justify-content-center">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <h3 class="text-center" id="borrarHisto" onmouseover="this.innerHTML = 'Borrar historial'"
      onmouseout="this.innerHTML = 'Pulsar para borrar historial de búsqueda'">
      Pulsar para borrar historial de búsqueda
    </h3>
  </div>
</div>

<div class="row row-no-gutters justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12 text-center">
    <h4 id="resultHisto"></h4>
  </div>
</div>
